# Astro build output
/dist
/.astro

# Node.js dependencies
/node_modules

# Environment files
.env
.env.local
.env.*.local

# OS and editor files
.DS_Store
*.log

# Optional: VS Code settings
.vscode/
/.worktrees/

# Local Netlify folder
.netlify

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*

/docs/slab-regular
.env.sentry-build-plugin