---
import { v2DiscordUrl, v2ReleaseNotesUrl } from "../../../lib/v2Links";
---

<div class="util">
  <div class="wrap util-row">
    <span class="util-tag"><span class="sq"></span> Official Partner · Word Mill Creative</span>
    <div style="display:flex; gap:24px; align-items:center;">
      <a class="util-link" href={v2ReleaseNotesUrl}>Changelog v2.4 <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i></a>
      <a class="util-link" href={v2DiscordUrl} target="_blank" rel="noopener noreferrer">Discord <i class="fa-brands fa-discord" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
