---
// Popular resources teaser lists frequently accessed documentation
// links.  Each item hints at further content and includes a subtle
// arrow to indicate its interactive nature.  In a full site these
// would link to dedicated guide pages.
---
<section class="container section" id="resources" aria-labelledby="resources-title">
  <header class="section-head" aria-hidden="true">
    <span class="accent-line" aria-hidden="true"></span>
    <span class="badge-text">Resources</span>
  </header>
  <h2 id="resources-title" class="section-title">Basics &amp; Beyond</h2>
  <ul class="links">
    <li>
      <a href="/resources/getting-started-with-the-mythic-apps/">
        <span class="link-left">
          <i class="fa-slab fa-regular fa-book-open" aria-hidden="true"></i>
          <span>Getting Started with Mythic</span>
        </span>
        <i class="fa-slab fa-regular fa-arrow-right link-arrow" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="/resources/importing-and-exporting-custom-tables/">
        <span class="link-left">
          <i class="fa-slab fa-regular fa-arrows-rotate" aria-hidden="true"></i>
          <span>Importing &amp; Exporting Tables</span>
        </span>
        <i class="fa-slab fa-regular fa-arrow-right link-arrow" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="/resources/dice-formulas-and-customization/">
        <span class="link-left">
          <i class="fa-slab fa-regular fa-percent" aria-hidden="true"></i>
          <span>Dice Roller Formula Guide</span>
        </span>
        <i class="fa-slab fa-regular fa-arrow-right link-arrow" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</section>
